.img_weather {
width:40px;
height:40px;
}
.weather {
width: 300px;
text-align: center;
background-color: azure;
}
.temperature {
font-size: 40px;
margin: 0;
}

.humiduty{
font-size: 12px;
}
.pressure{
font-size: 12px;
}
.grad {
font-size: 20px;
vertical-align: super;
}
.cloudiness {
font-size: 10px;
}
.city_info {
    background-color: rgb(81, 189, 252);
    display: inline-block;
    width: 100%;
    padding-left: 6px;
    margin-top: 0px;
    text-align: left;
}
.forecast {
    background-color: rgb(81, 189, 252);
    display: inline-block;
    width: 100%;
    padding-left: 6px;
    margin-top: 0px;
    text-align: left;
}